.form {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 1rem;
  padding-inline: 2.5rem 1rem;
  /* background-color: var(--paper-yellow); */

  & input {
    background: color-mix(in srgb, var(--paper-clr) 30%, white 70%);
    border-radius: 5px;
    padding-inline-start: 0.5rem;
    margin-bottom: 3px;
  }

  & button {
    grid-column: 2/-1;
    justify-self: center;
    align-self: center;
    padding: 2px 8px;
    margin-bottom: 3px;
    color: white;
    /* background-color: color-mix(in srgb, var(--paper-yellow) 80%, var(--vert-yellow) 20%); */
    background: linear-gradient(in oklch to right, var(--vert-clr), var(--lines-clr));
    background-repeat: no-repeat;
  }
  @media (width < 466px) {
    padding-inline: 2rem 0.5rem;
    grid-template-columns: 2.5fr 1fr 1fr;
  }
}
