.noteblock {
  position: relative;
  display: grid;
  width: 28rem;
  grid-template-rows: repeat(13, 40px);
  grid-auto-rows: 40px;
  grid-template-columns: 1fr;
  background: #fff7d0;
  box-shadow: 2px 2px 3px gray;
  background-image: linear-gradient(to bottom, var(--lines-clr, #51d3ef) 1px, transparent 1px);
  background-size: 100% 40px;
  background-position: 0 38px;
  & h2:first-child {
    grid-column: 1/-1;
    place-self: center;
  }
}
.vertline {
  position: absolute;
  background-color: var(--vert-clr, #ff1b17);
  width: 2px;
  height: 100%;
  margin-left: 38px;
  z-index: 1;
}
