.noteblock {
  position: relative;
  display: grid;
  width: 28rem;
  grid-template-rows: repeat(13, 44px);
  grid-auto-rows: 44px;
  grid-template-columns: 1fr;
  background: var(--paper-yellow);
  box-shadow: 2px 2px 3px gray;
  background-image: linear-gradient(to bottom, var(--lines-clr, #51d3ef) 1px, transparent 1px);
  background-size: 100% 44px;
  background-position: 0 43px;
  align-items: end;
  padding-bottom: 1rem;

  & h2:first-child {
    grid-column: 1/-1;
    place-self: end center;
  }
  & li {
    margin-bottom: 3px;
  }

  @media (width < 466px) {
    width: 100%;
  }
}
.vertline {
  position: absolute;
  background-color: var(--vert-clr, #ff1b17);
  width: 2px;
  height: 100%;
  margin-left: 38px;
  z-index: 1;
  @media (width < 466px) {
    margin-left: 24px;
  }
}
.li {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding-inline: 3rem 1rem;
  gap: 1rem;
  justify-items: start;
  @media (width < 466px) {
    padding-inline: 2rem 0.5rem;
  }
}
